<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCklQTRiZ0zNC716W7uNOPuiRh1T1t4e6Y</string>
	<key>GCM_SENDER_ID</key>
	<string>372422781040</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.kenshin.AnimalShogi</string>
	<key>PROJECT_ID</key>
	<string>animalshogi</string>
	<key>STORAGE_BUCKET</key>
	<string>animalshogi.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:372422781040:ios:d228e4c9116471af362cb5</string>
</dict>
</plist>